body{
    padding: 2% 5% 2% 5%;
    background-color:rgb(158, 140, 36) ;
}
.content{
    text-align: right;
    background-color: rgb(35, 179, 179);
}
img{
    border-radius: 20%;
    height: 210px;
}
li{
    text-align: center;
}
.contact{
    color: rgb(136, 93, 38);
    line-height: 1.5cm;
    text-align: left;
}